@model Depository.Core.Models.DTO.InstructionTemplateDTO;
@{
   // Layout = null;
}

<html>
<head>
    <title>Поручение</title>
</head>
<body>
    <div class="instruction_title">
        <h2>ПОРУЧЕНИЕ НА ДЕПОНИРОВАНИЕ ЦЕННЫХ БУМАГ</h2>
    </div>
    <br>
    <div class="number_and_date">
        № @Model.number &nbsp; Дата заполнения: @Model.executed_date
    </div>
    <br>
    <table>
        <tr>
            <td width="80px">
                Депонент:
            </td>
            <td>
                @Model.depositor_name
            </td>
        </tr>
    </table>

    <br>
    <table style="border-collapse: collapse;">
        <tr>
            <td>
                Номер счета депо, на который производится зачисление ценных бумаг:
            </td>
            <td>
                @Model.accountTo
            </td>
                @*<td style="width:20px; border:solid 1px;text-align:center;">
                if (@Model.accountTo!=null)    @Model.accountTo.Substring(0, 1);
            </td>
                <td style="width:20px;border:solid 1px;text-align:center;">
                    -
                </td>
                <td style="width:20px;border:solid 1px;text-align:center;">
                    if (@Model.accountTo!=null)    @Model.accountTo.Substring(2, 1)
                </td>
                <td style="width:20px;border:solid 1px;text-align:center;">
                    if (@Model.accountTo!=null)    @Model.accountTo.Substring(3, 1)
                </td>
                <td style="width:20px;border:solid 1px;text-align:center;">
                    if (@Model.accountTo!=null)    @Model.accountTo.Substring(4, 1)
                </td>
                <td style="width:20px;border:solid 1px;text-align:center;">
                    -
                </td>
                <td style="width:20px;border:solid 1px;text-align:center;">
                    if (@Model.accountTo!=null)    @Model.accountTo.Substring(6, 1)
                </td>
                <td style="width:20px;border:solid 1px;text-align:center;">
                    if (@Model.accountTo!=null)    @Model.accountTo.Substring(5, 1)
                </td>*@
        </tr>
</table>

    <br>
    Наименование эмитента ценных бумаг: @Model.issuer_name
    <br>
    <br>
    <table style="border-collapse: collapse;">
        <tr>
            <td style="width:60px;">
                Вид ЦБ:
            </td>
            <td style="width:205px;">
                @Model.base_type_name
            </td>
            <td style="width:60px;">
                ГРН ЦБ:
            </td>
            <td style="width:300px;">
                @Model.base_code
            </td>
        </tr>
    </table>
    <br>
    <table style="border-collapse: collapse;">
        <tr>
            <td style="width:265px;">
                Количество ценных бумаг (цифрами):
            </td>
            <td>
                @Model.base_count
            </td>
        </tr>
    </table>
    <br>
    <table style="border-collapse: collapse;">
        <tr>
            <td style="width:80px;">
                (прописью):
            </td>
            <td style="width:300px; border:solid 1px;">
                @Model.base_count_in_words
            </td>
        </tr>
    </table>

    <br>
    <table style="border-collapse: collapse;">
        <tr>
            <td style="width:160px;">
                Наименование лица:
            </td>
            <td style="width:300px;">
                @Model.owner_name
            </td>
        </tr>
    </table>

    <br>
    <table style="border-collapse: collapse;">
        <tr>
            <td style="width:160px;">
                Документ лица:
            </td>
            <td style="width:300px;">
                @Model.owner_document
            </td>
        </tr>
    </table>
    <br>
    <table style="border-collapse: collapse;">
        <tr>
            <td style="width:160px;">
                Адрес:
            </td>
            <td style="width:300px;">
                @Model.owner_address
            </td>
        </tr>
    </table>
    <br>
    <table style="border-collapse: collapse;">
        <tr>
            <td style="width:160px;">
                Основание операции:
            </td>
            <td style="width:300px;">
                @Model.basis
            </td>
        </tr>
    </table>
    <br>
    <p class="tab">
        <b>
            Настоящим Поручением депонент гарантирует, что им произведено установление личности лица, с которого производиться депонирование вышеуказанных ценных бумаг и/или правомочий уполномоченных представителей такого лица, а также что это лицо (уполномоченный представитель лица) осведомлено о  необходимости осуществления перевода вышеуказанных ценных бумаг в номинальное держание ЗАО «Центральный Депозитарий». Депонент обязуется возместить ЗАО «Центральный Депозитарий» убытки, причиненные в результате признанного сторонами или установленного судом факта подачи настоящего Поручения без согласия лица, с которого производиться депонирование вышеуказанных ценных бумаг.
            Настоящим Поручением Депонент и лицо, с которого производиться депонирование, вышеуказанных ценных бумаг, поручают ЗАО «Центральный Депозитарий» осуществить все необходимые действия по перерегистрации вышеуказанных ценных бумаг в реестре их владельцев.
        </b>
    </p>
    <br>
    Подпись уполномоченного лица Депонента	___________________   /__________________________/
    ФИО
    <br>
    ------------------------------------------------------------------------------------------------------------------------------------------------------------
    <br>
    <div class="text_center">
        <b>
            Для заполнения уполномоченным сотрудником  ЗАО «Центральный Депозитарий»
        </b>
    </div>

    <br>
    <table style="border-collapse: collapse;">
        <tr>
            <td style="width:250px;">
            </td>
            <td style="width:100px; border:solid 1px; text-align:center;">
                <b>
                    Исполнено
                </b>
            </td>
            <td style="width:250px;">
            </td>
            <td style="width:100px; border:solid 1px; text-align:center;">
                <b>
                    Отказано в исполнении
                </b>
            </td>
        </tr>
    </table>
    <br>
    Примечания:___________________________________________________________________________
    <br>
    Подпись уполномоченного лица ЗАО «Центральный Депозитарий»	___________________  /_________________/
    М.П.
    <br>
    <br>
    ------------------------------------------------------------------------------------------------------------------------------------------------------------
    <br>
    Отрывной корешок поручения на депонирование № ______ от ______________ .
    <br>
    <br>
    Депонент _______________________________________________________________________________________
    <br>
    <br>
    Зарегистрированное лицо _________________________________________________________________________
    <br>
    <br>
    Эмитент ценных бумаг ___________________________________ ГРН ЦБ _________________________________
    <br>
    <br>
    Вид ЦБ ___________________________ Количество ценных бумаг _______________________________________
    <br>
    <br>
    Примечания ____________________________________________________________________________________
    <br>
    <br>
    Подпись уполномоченного лица ЗАО «Центральный Депозитарий»	___________________  /_________________/
    <br>
    <br>
</body>

</html>


<style type="text/css">
    .instruction_title {
        text-align: center;
    }

    .number_and_date {
        text-align: center;
    }

    .tab {
        text-indent: 40px
    }

    .text_center {
        text-align: center;
    }
</style>